@import url(https://fonts.googleapis.com/css?family=Nunito);
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: inherit;
}

*:focus {
  outline: none !important;
}

::-webkit-scrollbar {
  display: none;
}

html {
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-size: 1rem;
  font-family: Nunito, sans-serif;
  color: lightgrey;
}

@media (min-width: 2240px) {
  html {
    font-size: 1.33rem;
  }
}

main {
  scroll-behavior: smooth;
}

a, a:visited {
  color: #5B7B8A;
  text-decoration: none;
  -webkit-transition: 150ms color linear;
  transition: 150ms color linear;
}

a:hover, a:active, a:focus {
  color: #47606b;
}

h1 {
  font-size: 3rem;
  text-align: center;
  margin: 0 auto 1rem;
  color: whitesmoke;
  line-height: 1;
}

@media (max-width: 32rem) {
  h1 {
    font-size: 2rem;
  }
}

h2 {
  color: #B5CDD8;
  font-size: 3rem;
  line-height: 1;
  text-align: center;
  margin: 2rem auto 1rem;
  padding: 0 0.5rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 2.7rem;
  border-bottom: 0.125rem solid #72a0b5;
}

@media (max-width: 32rem) {
  h2 {
    font-size: 2rem;
    height: 1.8rem;
  }
}

h3 {
  font-size: 1.3rem;
  font-weight: 600;
  color: #B5CDD8;
}

h3 i {
  font-size: 1.5rem;
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
}

@media (max-width: 45rem) {
  iframe {
    display: none;
  }
}

.button-main-1 {
  display: inline-block;
  border: 0.1rem solid #7493B1;
  background-color: #7493B1;
  border-radius: .5rem;
  color: #51796F;
  font-weight: 600;
  color: whitesmoke;
  -webkit-transition: background-color 250ms ease-in-out, border-color 250ms ease-in-out;
  transition: background-color 250ms ease-in-out, border-color 250ms ease-in-out;
}

.button-main-1:hover {
  background-color: #577a9b;
  border-color: #577a9b;
  cursor: pointer;
}

.button-alt-1 {
  display: inline-block;
  border: 0.1rem solid #7493B1;
  background-color: #7493B1;
  border-radius: .5rem;
  color: #51796F;
  font-weight: 600;
  color: whitesmoke;
  -webkit-transition: background-color 250ms ease-in-out, border-color 250ms ease-in-out;
  transition: background-color 250ms ease-in-out, border-color 250ms ease-in-out;
  background-color: transparent;
}

.button-alt-1:hover {
  background-color: rgba(0, 0, 0, 0.3);
  border-color: #577a9b;
  cursor: pointer;
}

.button-main-2 {
  display: inline-block;
  border: 0.1rem solid #283c37;
  background-color: #283c37;
  border-radius: .5rem;
  color: #51796F;
  font-weight: 600;
  color: whitesmoke;
  -webkit-transition: background-color 250ms ease-in-out, border-color 250ms ease-in-out;
  transition: background-color 250ms ease-in-out, border-color 250ms ease-in-out;
}

.button-main-2:hover {
  background-color: #141d1b;
  border-color: #141d1b;
  cursor: pointer;
}

.button-alt-2 {
  display: inline-block;
  border: 0.1rem solid #283c37;
  background-color: #283c37;
  border-radius: .5rem;
  color: #51796F;
  font-weight: 600;
  color: whitesmoke;
  -webkit-transition: background-color 250ms ease-in-out, border-color 250ms ease-in-out;
  transition: background-color 250ms ease-in-out, border-color 250ms ease-in-out;
  background-color: transparent;
}

.button-alt-2:hover {
  background-color: rgba(0, 0, 0, 0.3);
  border-color: #141d1b;
  cursor: pointer;
}

.button-main-3 {
  display: inline-block;
  border: 0.1rem solid orange;
  background-color: orange;
  border-radius: .5rem;
  color: #51796F;
  font-weight: 600;
  color: whitesmoke;
  -webkit-transition: background-color 250ms ease-in-out, border-color 250ms ease-in-out;
  transition: background-color 250ms ease-in-out, border-color 250ms ease-in-out;
}

.button-main-3:hover {
  background-color: #cc8400;
  border-color: #cc8400;
  cursor: pointer;
}

.button-alt-3 {
  display: inline-block;
  border: 0.1rem solid orange;
  background-color: orange;
  border-radius: .5rem;
  color: #51796F;
  font-weight: 600;
  color: whitesmoke;
  -webkit-transition: background-color 250ms ease-in-out, border-color 250ms ease-in-out;
  transition: background-color 250ms ease-in-out, border-color 250ms ease-in-out;
  background-color: transparent;
}

.button-alt-3:hover {
  background-color: rgba(0, 0, 0, 0.3);
  border-color: #cc8400;
  cursor: pointer;
}

.rem-transition {
  -webkit-transition: none !important;
  transition: none !important;
}

.global-nav {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  font-size: 1rem;
}

.global-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  padding: .4em .5em .6em;
  margin: 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 0 0 0.3125em 0.3125em;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.global-nav ul li {
  width: 6.2em;
  text-align: center;
  display: inline-block;
  height: 100%;
  padding: 0 .7em;
  border-left: 1px solid white;
}

.global-nav ul li a {
  color: white;
  font-weight: 600;
}

.global-nav ul li a:hover, .global-nav ul li a:focus {
  color: #cccccc;
}

.global-nav ul li:last-child {
  border-right: 1px solid white;
}

.global-nav.fixed {
  top: -3.5rem;
  -webkit-transition: -webkit-transform 500ms ease-in-out;
  transition: -webkit-transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
}

@media (max-width: 27rem) {
  .global-nav.fixed {
    font-size: .8rem;
  }
}

.tdv-button {
  position: fixed;
  bottom: -3rem;
  left: 0;
  right: 0;
  z-index: 100;
  margin: auto;
  width: 50%;
  height: 2rem;
  margin-bottom: 0.5rem;
  -webkit-box-shadow: 0 0.125rem 0.3125rem -0.0625rem #000;
          box-shadow: 0 0.125rem 0.3125rem -0.0625rem #000;
  display: inline-block;
  border: 0.1rem solid #283c37;
  background-color: #283c37;
  border-radius: .5rem;
  color: #51796F;
  font-weight: 600;
  color: whitesmoke;
  -webkit-transition: background-color 250ms ease-in-out, border-color 250ms ease-in-out;
  transition: background-color 250ms ease-in-out, border-color 250ms ease-in-out;
  -webkit-transform: tranlateY(0);
          transform: tranlateY(0);
  -webkit-transition: -webkit-transform 500ms ease-out 1s;
  transition: -webkit-transform 500ms ease-out 1s;
  transition: transform 500ms ease-out 1s;
  transition: transform 500ms ease-out 1s, -webkit-transform 500ms ease-out 1s;
}

ul.media-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1em 0;
}

ul.media-links li {
  display: inline-block;
  text-decoration: none;
  height: 1em;
  padding: 0 .5em;
  border-left: 1px solid whitesmoke;
}

ul.media-links li a {
  font-size: 2em;
  display: inline-block;
  margin: -.25em 0;
  color: whitesmoke;
}

ul.media-links li a:hover {
  color: #c2c2c2;
}

ul.media-links li:last-child {
  border-right: 1px solid whitesmoke;
}

body {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.parallax {
  -webkit-perspective: 300px;
          perspective: 300px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-perspective-origin: 100%;
          perspective-origin: 100%;
}

.parallax section {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: relative;
  -webkit-transition: -webkit-transform 1s ease-in-out;
  transition: -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
}

.parallax section div.content {
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-transform-origin: 100%;
          transform-origin: 100%;
}

.parallax section div.background {
  z-index: -100;
  -webkit-transform-origin: 100%;
          transform-origin: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  -webkit-transform: translateZ(-150px) scale(1.51);
          transform: translateZ(-150px) scale(1.51);
  background-attachment: scroll;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

section.tdv {
  -webkit-transform: translate3d(-100vw, 0, -80vw) rotateY(-10deg);
          transform: translate3d(-100vw, 0, -80vw) rotateY(-10deg);
}

#banner, #contact {
  z-index: 0;
  height: 100vh;
}

#projects, #about-me {
  z-index: 2;
  min-height: 50vh;
}

.content {
  padding: 1rem;
  z-index: 2;
}

#banner .background {
  background-image: url("../img/nate-rayfield-336417-unsplash-top.jpg");
}

#banner.fade-in {
  background-color: transparent;
}

#banner {
  background-color: #121B26;
  -webkit-transition: background-color 2.5s ease-in-out, -webkit-transform 1s ease-in-out;
  transition: background-color 2.5s ease-in-out, -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out, background-color 2.5s ease-in-out;
  transition: transform 1s ease-in-out, background-color 2.5s ease-in-out, -webkit-transform 1s ease-in-out;
  min-height: 40rem;
}

#banner .background {
  -webkit-transform: translateZ(-450px) scale(2.53);
          transform: translateZ(-450px) scale(2.53);
}

#banner .global-nav::before, #banner .global-nav::after {
  content: "";
  height: 0.33em;
  border-top: 0.0625em solid whitesmoke;
  border-bottom: 0.0625em solid whitesmoke;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  margin-top: 0.4em;
}

#banner .global-nav {
  padding-top: 0.5em;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

#banner .global-nav ul {
  padding: 0;
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#banner .content {
  position: absolute;
  top: 30%;
  bottom: 0;
  left: 0;
  right: 0;
}

#banner .content div {
  text-align: center;
  text-shadow: 0 0 0.3125rem #000;
  color: whitesmoke;
}

#banner .content div img.profile-picture {
  border: 0.1875rem solid whitesmoke;
  height: 6rem;
  width: 6rem;
  display: block;
  margin: 0 auto 1rem;
  border-radius: 50%;
}

#banner .content div p {
  font-size: 1.2rem;
  font-weight: 600;
  max-width: 40rem;
  margin: 0 auto 1rem;
}

#banner .content div ul li {
  border: none;
}

#banner .content div ul li a {
  color: whitesmoke;
}

#banner .content div ul li a:hover, #banner .content div ul li a:focus, #banner .content div ul li a:active {
  color: #c2c2c2;
}

#banner .content div button {
  margin: 1rem .5rem 0;
  height: 2rem;
  width: 6rem;
  text-shadow: 0 0 5px #000;
  -webkit-box-shadow: 0 0.125rem 0.3125rem -0.0625rem #000;
          box-shadow: 0 0.125rem 0.3125rem -0.0625rem #000;
}

#about-me {
  background: #19262c;
  color: lightgrey;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
}

#about-me .content > div {
  margin: 0 auto 4rem;
}

#about-me .content .description {
  background: #2C424C;
  max-width: 50rem;
  padding: 1rem;
  text-align: center;
  -webkit-box-shadow: 0 0.125rem 0.3125rem -0.0625rem #000;
          box-shadow: 0 0.125rem 0.3125rem -0.0625rem #000;
}

#about-me .content .skills-lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 73rem;
}

#about-me .content .skills-lists ul {
  margin: 0.5rem 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 10rem;
          flex: 1 0 10rem;
}

#about-me .content .skills-lists ul li:first-child {
  font-family: inherit;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
  padding-bottom: .25rem;
}

#about-me .content .skills-lists ul li {
  font-family: monospace;
  font-size: 1.2rem;
  list-style-type: none;
  text-align: center;
}

#about-me .content .education {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  max-width: 70rem;
}

#about-me .content .education .education-entry {
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

#about-me .content .education .education-entry > * {
  min-height: 10rem;
}

#about-me .content .education .education-entry :first-child {
  padding: 1rem;
  font-weight: 600;
  height: 100%;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
}

#about-me .content .education .education-entry :last-child {
  padding: 1rem;
  height: 100%;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 70%;
          flex: 0 0 70%;
  background: #2C424C;
  -webkit-box-shadow: 0 0.125rem 0.3125rem -0.0625rem #000;
          box-shadow: 0 0.125rem 0.3125rem -0.0625rem #000;
}

@media (max-width: 37rem) {
  #about-me .content .education .education-entry {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
  #about-me .content .education .education-entry > * {
    min-height: 0;
  }
  #about-me .content .education .education-entry :first-child {
    -webkit-box-flex: 0;
        -ms-flex: 0 0;
            flex: 0 0;
  }
  #about-me .content .education .education-entry :last-child {
    -webkit-box-flex: 0;
        -ms-flex: 0 0;
            flex: 0 0;
  }
}

#projects {
  background: #1a2737;
  color: lightgrey;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
}

#projects .content .flex-container {
  padding-top: 3rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#projects .content .flex-container .project-observer {
  padding-bottom: 6rem;
}

#projects .content .flex-container .project-observer > * {
  -webkit-transition: opacity 1s ease-out, -webkit-transform 1s ease-out;
  transition: opacity 1s ease-out, -webkit-transform 1s ease-out;
  transition: opacity 1s ease-out, transform 1s ease-out;
  transition: opacity 1s ease-out, transform 1s ease-out, -webkit-transform 1s ease-out;
  -webkit-transform: translate(-100vw, 0);
          transform: translate(-100vw, 0);
  opacity: 0;
}

#projects .content .flex-container .project-observer .hover-observer > * {
  -webkit-transition: -webkit-box-shadow 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
  transition: -webkit-box-shadow 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
  transition: box-shadow 300ms ease-in-out, transform 300ms ease-in-out;
  transition: box-shadow 300ms ease-in-out, transform 300ms ease-in-out, -webkit-box-shadow 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-box-shadow: 0 0.125rem 0.3125rem -0.0625rem #000;
          box-shadow: 0 0.125rem 0.3125rem -0.0625rem #000;
}

#projects .content .flex-container .project-observer .hover-observer > *:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-box-shadow: 0 0.5rem 1.25rem -0.25rem #000;
          box-shadow: 0 0.5rem 1.25rem -0.25rem #000;
}

#projects .content .flex-container .project-observer .hover-observer .project {
  min-height: 35rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30rem;
          flex: 1 1 30rem;
  width: 100%;
  max-width: 73rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -ms-flex-line-pack: center;
      align-content: center;
}

#projects .content .flex-container .project-observer .hover-observer .project .proj-img {
  background-size: cover;
  background-position: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 65%;
          flex: 1 0 65%;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  min-height: 20rem;
}

#projects .content .flex-container .project-observer .hover-observer .project .proj-desc {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 35%;
          flex: 0 0 35%;
  background: #263950;
  padding: 1rem;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#projects .content .flex-container .project-observer .hover-observer .project .proj-desc p {
  text-align: left;
  margin-bottom: 1rem;
}

#projects .content .flex-container .project-observer .hover-observer .project .proj-desc input, #projects .content .flex-container .project-observer .hover-observer .project .proj-desc button {
  width: 100%;
  height: 2rem;
  margin-bottom: 1rem;
}

@media (max-width: 45rem) {
  #projects .content .flex-container .project-observer .hover-observer .project {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #projects .content .flex-container .project-observer .hover-observer .project .proj-img {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 65%;
            flex: 1 0 65%;
  }
  #projects .content .flex-container .project-observer .hover-observer .project .proj-desc {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 35%;
            flex: 0 0 35%;
  }
}

#projects .content .flex-container .project-observer.proj-move > * {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

#projects .content .flex-container .project-observer:nth-child(2n) .proj-img {
  -webkit-box-ordinal-group: 3 !important;
      -ms-flex-order: 2 !important;
          order: 2 !important;
}

#projects .content .flex-container .project-observer:nth-child(2n) .proj-desc {
  -webkit-box-ordinal-group: 2 !important;
      -ms-flex-order: 1 !important;
          order: 1 !important;
}

@media (max-width: 45rem) {
  #projects .content .flex-container .project-observer:nth-child(2n) .proj-img {
    -webkit-box-ordinal-group: 2 !important;
        -ms-flex-order: 1 !important;
            order: 1 !important;
  }
  #projects .content .flex-container .project-observer:nth-child(2n) .proj-desc {
    -webkit-box-ordinal-group: 3 !important;
        -ms-flex-order: 2 !important;
            order: 2 !important;
  }
}

#contact .background {
  background-image: url("../img/nate-rayfield-336417-unsplash-bot.jpg");
}

#contact {
  height: 100vh;
  min-height: 20rem;
}

#contact .content {
  height: 100%;
  display: -ms-grid;
  display: grid;
}

#contact .content form.gform {
  width: 100%;
  max-width: 34rem;
  height: 100%;
  max-height: 34rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 3rem 2rem 1fr 2rem;
      grid-template-rows: 3rem 2rem 1fr 2rem;
  grid-gap: .5rem;
  padding: 1rem;
  margin: auto;
}

#contact .content form.gform input, #contact .content form.gform textarea {
  -webkit-box-shadow: 0 0.125rem 0.3125rem -0.0625rem #000;
          box-shadow: 0 0.125rem 0.3125rem -0.0625rem #000;
}

#contact .content form.gform div {
  position: relative;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  margin: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-align: center;
  text-shadow: 0 0 5px #000;
}

#contact .content form.gform div .form-title, #contact .content form.gform div .thankyou_message {
  position: absolute;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  line-height: 1;
  font-weight: 600;
  color: whitesmoke;
  text-shadow: 0 0 5px #000;
  -webkit-transition: opacity 500ms ease-in-out;
  transition: opacity 500ms ease-in-out;
}

#contact .content form.gform div .form-title {
  margin: 0;
}

#contact .content form.gform div .thankyou_message {
  font-size: 1.5rem;
  opacity: 0;
}

@media (max-width: 400) {
  #contact .content form.gform div .thankyou_message {
    font-size: 1rem;
  }
}

#contact .content form.gform .msg-title {
  display: none;
}

#contact .content form.gform .form-text-field {
  border: none;
  background-color: #51796F;
  color: whitesmoke;
  opacity: .5;
  border-radius: .5rem;
  padding: .5rem;
  font-size: .8rem;
  line-height: 1.5;
  font-weight: 300;
  -webkit-transition: opacity 250ms ease-in-out;
  transition: opacity 250ms ease-in-out;
}

#contact .content form.gform input.form-text-field {
  width: 100%;
}

#contact .content form.gform textarea.form-text-field {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  width: 100%;
  resize: none;
}

#contact .content form.gform .form-text-field:focus, #contact .content form.gform .filled {
  opacity: 1;
}

#contact .content form.gform input[type=submit]:focus, #contact .content form.gform input[type=reset]:focus {
  border-color: orange;
}

#footer {
  background: #0E1411;
  color: whitesmoke;
  font-size: 1.5rem;
  height: 25.5vh;
  min-height: 10rem;
}

#footer .content {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#footer .content p {
  font-size: .7em;
  text-align: center;
}

#footer .content li {
  border-color: whitesmoke;
}

#footer .content div {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}

::-webkit-input-placeholder {
  color: lightgrey;
}

:-ms-input-placeholder {
  color: lightgrey;
}

::-ms-input-placeholder {
  color: lightgrey;
}

::placeholder {
  color: lightgrey;
}

#banner .global-nav {
  background: rgba(0, 0, 0, 0.5);
  padding-bottom: 0.5rem;
}
/*# sourceMappingURL=dark-theme.css.map */