@import url(https://fonts.googleapis.com/css?family=Nunito);
*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: inherit;
}

::-webkit-scrollbar {
  display: none;
}

*:focus {
  outline: none !important;
}

html {
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-size: 1rem;
  font-family: Nunito;
  color: #231e1b;
}

@media (min-width: 1500px) {
  html {
    font-size: 1.33rem;
  }
}

@media (min-width: 2240px) {
  html {
    font-size: 2rem;
  }
}

main {
  scroll-behavior: smooth;
}

a, a:visited {
  color: #13a3c8;
  text-decoration: none;
  -webkit-transition: 150ms color linear;
  transition: 150ms color linear;
}

a:hover, a:active, a:focus {
  color: #0a6487;
}

h2 {
  font-size: 3rem;
  text-align: center;
  padding-top: 2rem;
  margin: 0 auto 1rem;
}

h3 {
  font-size: 1.3rem;
  font-weight: 600;
}

h3 i {
  font-size: 1.5rem;
}

.button-main-1 {
  border: 0.1rem solid #0a6487;
  background-color: #0a6487;
  border-radius: .5rem;
  color: #231e1b;
  font-weight: 600;
  color: white;
  -webkit-transition: background-color 250ms ease-in-out, border-color 250ms ease-in-out;
  transition: background-color 250ms ease-in-out, border-color 250ms ease-in-out;
}

.button-main-1:hover {
  background-color: #064158;
  border-color: #064158;
  cursor: pointer;
}

.button-alt-1 {
  border: 0.1rem solid #0a6487;
  background-color: #0a6487;
  border-radius: .5rem;
  color: #231e1b;
  font-weight: 600;
  color: white;
  -webkit-transition: background-color 250ms ease-in-out, border-color 250ms ease-in-out;
  transition: background-color 250ms ease-in-out, border-color 250ms ease-in-out;
  background-color: transparent;
}

.button-alt-1:hover {
  background-color: rgba(0, 0, 0, 0.3);
  border-color: #064158;
  cursor: pointer;
}

.button-main-2 {
  border: 0.1rem solid #374c4F;
  background-color: #374c4F;
  border-radius: .5rem;
  color: #231e1b;
  font-weight: 600;
  color: white;
  -webkit-transition: background-color 250ms ease-in-out, border-color 250ms ease-in-out;
  transition: background-color 250ms ease-in-out, border-color 250ms ease-in-out;
}

.button-main-2:hover {
  background-color: #222f31;
  border-color: #222f31;
  cursor: pointer;
}

.button-alt-2 {
  border: 0.1rem solid #374c4F;
  background-color: #374c4F;
  border-radius: .5rem;
  color: #231e1b;
  font-weight: 600;
  color: white;
  -webkit-transition: background-color 250ms ease-in-out, border-color 250ms ease-in-out;
  transition: background-color 250ms ease-in-out, border-color 250ms ease-in-out;
  background-color: transparent;
}

.button-alt-2:hover {
  background-color: rgba(0, 0, 0, 0.3);
  border-color: #222f31;
  cursor: pointer;
}

.global-nav {
  position: fixed;
  top: 0px;
  z-index: 1000;
  width: 100%;
}

.global-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  padding: .4rem .5rem .6rem;
  margin: 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 0 0 10px 10px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.global-nav ul li {
  display: inline-block;
  height: 100%;
  padding: 0 .7rem;
  border-left: 1px solid white;
}

.global-nav ul li a {
  color: white;
  font-weight: 600;
}

.global-nav ul li a:hover, .global-nav ul li a:focus {
  color: #b8beba;
}

.global-nav ul li:last-child {
  border-right: 1px solid white;
}

.global-nav.fixed {
  -webkit-transform: translate(0, -3.5rem);
          transform: translate(0, -3.5rem);
  -webkit-transition: -webkit-transform 500ms ease-in-out;
  transition: -webkit-transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
}

ul.media-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1em 0;
}

ul.media-links li {
  display: inline-block;
  text-decoration: none;
  height: 1em;
  padding: 0 .5em;
  border-left: 1px solid #b8beba;
}

ul.media-links li a {
  font-size: 2em;
  display: inline-block;
  margin: -.25em 0;
  color: #b8beba;
}

ul.media-links li a:hover {
  color: #374c4F;
}

ul.media-links li:last-child {
  border-right: 1px solid #b8beba;
}

.parallax {
  -webkit-perspective: 300px;
          perspective: 300px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.parallax section {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: relative;
  -webkit-transition: -webkit-transform 1s ease-in-out;
  transition: -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
}

.parallax section div.content {
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

.parallax section div.background {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  -webkit-transform: translateZ(-150px) scale(1.51);
          transform: translateZ(-150px) scale(1.51);
  background-attachment: scroll;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

section.tdv {
  -webkit-transform: translate3d(700px, -100px, -800px) rotateY(30deg);
          transform: translate3d(700px, -100px, -800px) rotateY(30deg);
}

#banner, #contact {
  z-index: 0;
  height: 100vh;
}

#projects, #about-me {
  z-index: 2;
  min-height: 50vh;
}

.content {
  padding: 1rem;
}

#banner .background {
  background-image: url("../img/matteo-catanese-424968-unsplash-top-blur.jpg");
}

#banner {
  min-height: 25rem;
}

#banner .global-nav {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#banner .global-nav ul {
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#banner .content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 100px;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateZ(150px) scale(0.5);
          transform: translateZ(150px) scale(0.5);
}

#banner .content div {
  text-align: center;
  text-shadow: 0 0 5px #000;
  color: white;
}

#banner .content div img {
  border: 1px solid white;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
}

#banner .content div h1 {
  font-size: 3.5rem;
}

#banner .content div ul li {
  border: none;
}

#banner .content div ul li a {
  color: white;
}

#banner .content div ul li a:hover, #banner .content div ul li a:focus, #banner .content div ul li a:active {
  color: #b8beba;
}

#about-me {
  background: #b8beba;
  color: #231e1b;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
}

#about-me .content > div {
  margin: 0 auto 1rem;
}

#about-me .content .description {
  background: whitesmoke;
  max-width: 50rem;
  padding: 1rem;
  text-align: center;
  -webkit-box-shadow: 0 0.125rem 0.3125rem -0.0625rem #000;
          box-shadow: 0 0.125rem 0.3125rem -0.0625rem #000;
}

#about-me .content .skills-lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 73rem;
}

#about-me .content .skills-lists ul {
  margin: 0.5rem 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 15rem;
          flex: 1 0 15rem;
}

#about-me .content .skills-lists ul li:first-child {
  font-family: inherit;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
  padding-bottom: .25rem;
}

#about-me .content .skills-lists ul li {
  font-family: monospace;
  font-size: 1.2rem;
  list-style-type: none;
  text-align: center;
}

#about-me .content .education {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  max-width: 70rem;
}

#about-me .content .education .education-entry {
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  height: 10rem;
}

#about-me .content .education .education-entry :first-child {
  padding: 1rem;
  height: 100%;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30rem;
          flex: 0 1 30rem;
}

#about-me .content .education .education-entry :last-child {
  padding: 1rem;
  height: 100%;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 1fr;
          flex: 1 0 1fr;
  background: whitesmoke;
  -webkit-box-shadow: 0 0.125rem 0.3125rem -0.0625rem #000;
          box-shadow: 0 0.125rem 0.3125rem -0.0625rem #000;
}

#projects {
  background: #61868b;
  color: #231e1b;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
}

#projects .content .flex-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#projects .content .flex-container .project {
  display: block;
  margin: 2rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30rem;
          flex: 1 1 30rem;
  max-width: 40rem;
  height: 25rem;
  opacity: 1;
  border-radius: .5rem;
  position: relative;
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
  -webkit-transform: scale(1);
          transform: scale(1);
}

#projects .content .flex-container .project * {
  -webkit-transition: opacity 1s ease-out, -webkit-transform 1s ease-out;
  transition: opacity 1s ease-out, -webkit-transform 1s ease-out;
  transition: opacity 1s ease-out, transform 1s ease-out;
  transition: opacity 1s ease-out, transform 1s ease-out, -webkit-transform 1s ease-out;
  -webkit-transform: translate(-100vw, 0);
          transform: translate(-100vw, 0);
  opacity: 0;
}

#projects .content .flex-container .project .proj-img {
  height: 100%;
  width: 100%;
  border-radius: .5rem;
  background-size: cover;
  background-position: center;
  -webkit-box-shadow: 0 0.125rem 0.3125rem -0.0625rem #000;
          box-shadow: 0 0.125rem 0.3125rem -0.0625rem #000;
}

#projects .content .flex-container .project .proj-img-small {
  border-radius: .5rem .5rem 0 0;
}

#projects .content .flex-container .project .proj-desc {
  background: white;
  padding: .5rem;
  position: absolute;
  bottom: 10px;
  left: -1rem;
  right: 10%;
}

#projects .content .flex-container .project .proj-desc-small {
  border-radius: 0 0 .5rem .5rem;
}

#projects .content .flex-container .proj-move * {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

#projects .content .flex-container .project:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

#contact .background {
  background-image: url("../img/matteo-catanese-424968-unsplash-bottom-blur.jpg");
}

#contact {
  height: 100vh;
  min-height: 20rem;
}

#contact .content {
  height: 100%;
  display: -ms-grid;
  display: grid;
}

#contact .content form.gform {
  width: 100%;
  max-width: 34rem;
  height: 100%;
  max-height: 34rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 4rem 2rem 1fr 2rem;
      grid-template-rows: 4rem 2rem 1fr 2rem;
  grid-gap: .5rem;
  padding: 1rem;
  margin: auto;
}

#contact .content form.gform input, #contact .content form.gform textarea {
  -webkit-box-shadow: 0 0 5px #000;
          box-shadow: 0 0 5px #000;
}

#contact .content form.gform div {
  position: relative;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  margin: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-align: center;
  text-shadow: 0 0 5px #000;
}

#contact .content form.gform div .form-title {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  font-size: 4rem;
  text-shadow: 0 0 .05rem #000;
  text-align: center;
  margin: 0;
  -webkit-transition: opacity 500ms ease-in-out;
  transition: opacity 500ms ease-in-out;
}

#contact .content form.gform div .thankyou_message {
  color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1;
  opacity: 0;
  -webkit-transition: opacity 500ms ease-in-out;
  transition: opacity 500ms ease-in-out;
}

#contact .content form.gform .msg-title {
  display: none;
}

#contact .content form.gform .form-text-field {
  border: none;
  background-color: #b8beba;
  color: #231e1b;
  opacity: .5;
  border-radius: .5rem;
  padding: .5rem;
  font-size: .8rem;
  line-height: 1.5;
  font-weight: 300;
  -webkit-transition: opacity 250ms ease-in-out;
  transition: opacity 250ms ease-in-out;
}

#contact .content form.gform input.form-text-field {
  width: 100%;
}

#contact .content form.gform textarea.form-text-field {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  width: 100%;
  resize: none;
}

#contact .content form.gform .form-text-field:focus, #contact .content form.gform .filled {
  opacity: 1;
}

#contact .content form.gform input[type=submit]:focus, #contact .content form.gform input[type=reset]:focus {
  border-color: orange;
}

#footer {
  background: #231e1b;
  color: #b8beba;
  font-size: 1.5rem;
  height: 30vh;
  min-height: 10rem;
}

#footer .content {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#footer .content p {
  font-size: .7em;
  text-align: center;
}

#footer .content li {
  border-color: #b8beba;
}

#footer .content div {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}
/*# sourceMappingURL=styles.css.map */