*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  font-family: inherit;
}

*:focus {
  outline: none !important;
}

html {
  height: 100%;
  width: 100%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1rem;
  color: #231e1b;
  scroll-behavior: smooth;
}

a, a:visited {
  color: #13a3c8;
  text-decoration: none;
  -webkit-transition: 150ms color linear;
  transition: 150ms color linear;
}

a:hover, a:active, a:focus {
  color: #0a6487;
}

.button-main-1 {
  border: 0.1rem solid #0a6487;
  background-color: #0a6487;
  border-radius: .5rem;
  color: #231e1b;
  font-weight: 600;
  color: white;
  -webkit-transition: background-color 250ms ease-in-out, border-color 250ms ease-in-out;
  transition: background-color 250ms ease-in-out, border-color 250ms ease-in-out;
}

.button-main-1:hover {
  background-color: #064158;
  border-color: #064158;
  cursor: pointer;
}

.button-alt-1 {
  border: 0.1rem solid #0a6487;
  background-color: #0a6487;
  border-radius: .5rem;
  color: #231e1b;
  font-weight: 600;
  color: white;
  -webkit-transition: background-color 250ms ease-in-out, border-color 250ms ease-in-out;
  transition: background-color 250ms ease-in-out, border-color 250ms ease-in-out;
  background-color: transparent;
}

.button-alt-1:hover {
  background-color: rgba(0, 0, 0, 0.3);
  border-color: #064158;
  cursor: pointer;
}

.button-main-2 {
  border: 0.1rem solid #374c4F;
  background-color: #374c4F;
  border-radius: .5rem;
  color: #231e1b;
  font-weight: 600;
  color: white;
  -webkit-transition: background-color 250ms ease-in-out, border-color 250ms ease-in-out;
  transition: background-color 250ms ease-in-out, border-color 250ms ease-in-out;
}

.button-main-2:hover {
  background-color: #222f31;
  border-color: #222f31;
  cursor: pointer;
}

.button-alt-2 {
  border: 0.1rem solid #374c4F;
  background-color: #374c4F;
  border-radius: .5rem;
  color: #231e1b;
  font-weight: 600;
  color: white;
  -webkit-transition: background-color 250ms ease-in-out, border-color 250ms ease-in-out;
  transition: background-color 250ms ease-in-out, border-color 250ms ease-in-out;
  background-color: transparent;
}

.button-alt-2:hover {
  background-color: rgba(0, 0, 0, 0.3);
  border-color: #222f31;
  cursor: pointer;
}

.global-nav {
  position: fixed;
  top: 0px;
  z-index: 2;
  width: 100%;
}

.global-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  padding: .4rem .5rem .6rem;
  margin: 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 0 0 10px 10px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.global-nav ul li {
  display: inline-block;
  height: 100%;
  padding: 0 .7rem;
  border-left: 1px solid white;
}

.global-nav ul li a {
  color: white;
  font-weight: 600;
}

.global-nav ul li a:hover, .global-nav ul li a:focus {
  color: #b8beba;
}

.global-nav ul li:last-child {
  border-right: 1px solid white;
}

.global-nav.fixed {
  -webkit-transform: translate(0, -3.5rem);
          transform: translate(0, -3.5rem);
  -webkit-transition: -webkit-transform 500ms ease-in-out;
  transition: -webkit-transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
}

ul.media-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

ul.media-links li {
  display: inline-block;
  text-decoration: none;
  height: 1rem;
  padding: 0 .5rem;
  border-left: 1px solid #b8beba;
}

ul.media-links li a {
  font-size: 2rem;
  display: inline-block;
  margin: -.5rem 0;
  color: #b8beba;
}

ul.media-links li a:hover {
  color: #374c4F;
}

ul.media-links li:last-child {
  border-right: 1px solid #b8beba;
}

#banner {
  position: relative;
  background-image: url("../img/matteo-catanese-424968-unsplash-top-blur.jpg");
  background-attachment: scroll;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition: background-position 0s linear;
  transition: background-position 0s linear;
  height: 100vh;
  min-height: 500px;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
}

#banner .global-nav {
  position: absolute;
}

#banner .global-nav ul {
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#banner div {
  text-align: center;
  text-shadow: 0 0 5px #000;
  color: white;
}

#banner div img {
  border: 1px solid white;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
}

#banner div h1 {
  font-size: 3.5rem;
}

#banner div ul li {
  border: none;
}

#banner div ul li a {
  color: white;
}

#banner div ul li a:hover, #banner div ul li a:focus, #banner div ul li a:active {
  color: #b8beba;
}

#about-me, #projects, #footer {
  text-align: justify;
  padding: 1rem;
  display: -ms-grid;
  display: grid;
}

#about-me {
  background: #f4c3a3;
}

#projects {
  background: #b8beba;
}

#projects .flex-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#projects .flex-container .flex-child {
  margin: 0 .25rem 1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25rem;
          flex: 1 1 25rem;
  max-width: 32rem;
}

#projects .flex-container .proj-img {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0a6487), to(#13a3c8));
  background-image: linear-gradient(to bottom, #0a6487, #13a3c8);
  border-radius: .25rem .25rem 0 0;
  height: 20rem;
}

#projects .flex-container .proj-desc {
  background: white;
  padding: .5rem;
  border-radius: 0 0 .25rem .25rem;
}

#contact {
  height: 100vh;
  min-height: 27rem;
  background-image: url("../img/matteo-catanese-424968-unsplash-bottom-blur.jpg");
  background-attachment: scroll;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition: background-position 0s linear;
  transition: background-position 0s linear;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-transition: -webkit-transform 1s ease-in-out;
  transition: -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
}

#contact h1 {
  color: white;
  size: 3rem;
  text-shadow: 0 0 .05rem #000;
  text-align: center;
}

#contact form.gform {
  width: 100%;
  max-width: 34rem;
  height: 100%;
  max-height: 34rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 2rem 2rem 1fr 2rem 4rem;
      grid-template-rows: 2rem 2rem 1fr 2rem 4rem;
  grid-gap: .5rem;
  padding: 1rem;
  margin: auto;
}

#contact form.gform input, #contact form.gform textarea {
  -webkit-box-shadow: 0 0 5px #000;
          box-shadow: 0 0 5px #000;
}

#contact form.gform h1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  margin: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-align: center;
  text-shadow: 0 0 5px #000;
}

#contact form.gform .msg-title {
  display: none;
}

#contact form.gform .form-text-field {
  border: none;
  background-color: #b8beba;
  opacity: .5;
  border-radius: .5rem;
  padding: .5rem;
  font-size: .8rem;
  line-height: 1.5;
  font-weight: 300;
  -webkit-transition: opacity 250ms ease-in-out;
  transition: opacity 250ms ease-in-out;
}

#contact form.gform input.form-text-field {
  width: 100%;
}

#contact form.gform textarea.form-text-field {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  width: 100%;
}

#contact form.gform .form-text-field:focus, #contact form.gform .filled {
  opacity: 1;
}

#contact form.gform input[type=submit]:focus, #contact form.gform input[type=reset]:focus {
  border-color: orange;
}

#contact form.gform .thankyou_message {
  opacity: 0;
  -webkit-transition: opacity 500ms ease-in-out;
  transition: opacity 500ms ease-in-out;
}

#footer {
  background: #231e1b;
  color: #b8beba;
}

#footer p {
  font-size: .7rem;
  text-align: center;
}

#footer li {
  border-color: #b8beba;
}

#footer div {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}
/*# sourceMappingURL=styles.css.map */