*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: inherit;
}

@mixin main-button($color) {
    display: inline-block;
    border: .1rem solid $color;
    background-color: $color;
    border-radius: .5rem;
    color: $color7;
    font-weight: 600;
    color: $button-text;
    -webkit-transition: background-color 250ms ease-in-out, border-color 250ms ease-in-out;
    transition: background-color 250ms ease-in-out, border-color 250ms ease-in-out;
}

@mixin alt-button($color) {
    @include main-button($color);
    background-color: transparent;
}

@mixin darken-main-hvr($color) {
    background-color: darken($color, 10%);
    border-color: darken($color, 10%);
    cursor: pointer;
}

@mixin darken-alt-hvr($color) {
    background-color: rgba(0,0,0,.3);
    border-color: darken($color, 10%);
    cursor: pointer;
}

@mixin text-field($color) {
    border: none;
    background-color: $color;
    color: $form-text;
    opacity: .5;
    border-radius: .5rem;
    padding: .5rem;
    font-size: .8rem;
    line-height: 1.5;
    font-weight: 300;
    -webkit-transition: opacity 250ms ease-in-out;
    transition: opacity 250ms ease-in-out;
}

@mixin parallax-bg($bg) {
    position: absolute;
    top: 0;
    z-index: -1;
    height: 100vh;
    width: 100vw;
    background-image: url($bg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: translate 0s linear;
    transform: translate(0,0);
}

@mixin fade-in-observe-left {
    > * {
        transition: opacity 1s ease-out, transform 1s ease-out;
        transform: translate(-100vw,0);
        opacity: 0;
    }
}

@mixin fade-in-observe-move {
    > * {
        transform: translate(0,0);
        opacity: 1;
    }
}

@mixin hover-grow {
    > * {
        transition: box-shadow 300ms ease-in-out, transform 300ms ease-in-out;
        transform: scale(1);
        box-shadow: $shadow;
    }
    > *:hover {
        transform: scale(1.02);
        box-shadow: $shadow-big;
    }
}

*:focus {
    outline: none !important;
}

::-webkit-scrollbar {
    display: none;
}

html {
    height: 100%;
    width: 100%;
    overflow:hidden;
    font-size: 1rem;
    font-family: $fonts;
    color: $main-text;
    @media (min-width: 2240px) {
        font-size: 1.33rem;
    }
}

main {
    scroll-behavior: smooth;
}

a, a:visited {
    color: $link-text;
    text-decoration: none;
    transition: 150ms color linear;
}

a:hover, a:active, a:focus {
    color: darken($link-text, 10%);
}

h1 {
    font-size: 3rem;
    text-align: center;
    margin: 0 auto 1rem;
    color: $h1-text;
    line-height: 1;
    @media (max-width: 32rem) {
        font-size: 2rem;
    }
}

h2 {
    color: $h2-text;
    font-size: 3rem;
    line-height: 1;
    text-align: center;
    margin: 2rem auto 1rem;
    padding: 0 0.5rem;
    width: fit-content;
    height: 2.7rem;
    border-bottom: (2rem/16) solid lighten($h2-underline, 10%);
    @media (max-width: 32rem) {
        font-size: 2rem;
        height: 1.8rem;
    }
}

h3 {
    font-size: 1.3rem;
    font-weight: 600;
    color: $h3-text;
    i {
        font-size: 1.5rem;
    }
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
    @media (max-width: 45rem) {
        display: none;
    }
}

.button-main-1 {
    @include main-button($button-1-color);
}
.button-main-1:hover {
    @include darken-main-hvr($button-1-color);
}

.button-alt-1 {
    @include alt-button($button-1-color);
}
.button-alt-1:hover {
    @include darken-alt-hvr($button-1-color);
}

.button-main-2 {
    @include main-button($button-2-color);
}
.button-main-2:hover {
    @include darken-main-hvr($button-2-color);
}

.button-alt-2 {
    @include alt-button($button-2-color)
}
.button-alt-2:hover {
    @include darken-alt-hvr($button-2-color);
}

.button-main-3 {
    @include main-button($button-3-color);
}
.button-main-3:hover {
    @include darken-main-hvr($button-3-color);
}

.button-alt-3 {
    @include alt-button($button-3-color);
}
.button-alt-3:hover {
    @include darken-alt-hvr($button-3-color);
}

.rem-transition {
    transition: none !important;
}

.global-nav {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    font-size: 1rem;
    ul {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        padding: .4em .5em .6em;
        margin: 0 auto;
        width: fit-content;
        background: $nav-bg;
        border-radius: 0 0 (5em/16) (5em/16);
        box-shadow: 0 0 3px $nav-bg;
        li {
            width: 6.2em;
            text-align: center;
            display: inline-block;
            height: 100%;
            padding: 0 .7em;
            border-left: 1px solid $nav-text;
            a {
                color: $nav-text;
                font-weight: 600;
            }
            a:hover, a:focus {
                color: darken($nav-text, 20%);
            }
        }
        li:last-child {
            border-right: 1px solid $nav-text;
        }
    }
}

.global-nav.fixed {
    top: -3.5rem;
    transition: transform 500ms ease-in-out;
    @media (max-width: 27rem) {
        font-size: .8rem;
    }
}

.tdv-button {
    position: fixed;
    bottom: -3rem;
    left: 0;
    right: 0;
    z-index: 100;
    margin: auto;
    width: 50%;
    height: 2rem;
    margin-bottom: 0.5rem;
    box-shadow: $shadow;
    @include main-button($button-2-color);
    transform: tranlateY(0);
    transition: transform 500ms ease-out 1s;
}

ul.media-links {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em 0;
    li {
        display: inline-block;
        text-decoration: none;
        height: 1em;
        padding: 0 .5em;
        border-left: 1px solid $banner-text;
        a {
            font-size: 2em;
            display: inline-block;
            margin: -.25em 0;
            color: $banner-text;
        }
        a:hover {
            color: darken($banner-text, 20%);
        }
    }
    li:last-child {
        border-right: 1px solid $banner-text;
    }
}

body {transform-style: preserve-3d}

.parallax {
    perspective: 300px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective-origin: 100%;
    section {
        transform-style: preserve-3d;
        position: relative;
        transition: transform 1s ease-in-out;
        div.content {
            transform: translateZ(0);
            transform-origin: 100%;
        }
        div.background {
            z-index: -100;
            transform-origin: 100%;
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            transform: translateZ(-150px) scale(1.51);
            background-attachment: scroll;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
    }
}

section.tdv {
    transform: translate3d(-100vw, 0, -80vw) rotateY(-10deg);
}


#banner, #contact {
    z-index: 0;
    height: 100vh;
}

#projects, #about-me {
    z-index: 2;
    min-height: 50vh;
}

.content {
    padding: 1rem;
    z-index: 2;
}

#banner .background {background-image: $bg-top}
#banner.fade-in {background-color: transparent}
#banner {
    background-color: $banner-bg;
    transition: transform 1s ease-in-out, background-color 2.5s ease-in-out;
    min-height: 40rem;
    .background {transform: translateZ(-450px) scale(2.53);}
    .global-nav::before, .global-nav::after {
        content: "";
        height: 0.33em;
        border-top: (1em/16) solid $banner-text;
        border-bottom: (1em/16) solid $banner-text;
        flex: 0 1 100%;
        margin-top: 0.4em;
    }
    .global-nav {
        padding-top: 0.5em;
        position: absolute;
        display: flex;
        flex-flow: row nowrap;
        ul {
            padding: 0;
            background: none;
            box-shadow: none;
        }
    }
    .content {
        position: absolute;
        top:30%;bottom:0;left:0;right:0;
        div {
            text-align: center;
            text-shadow: 0 0 (5rem/16) #000;
            color: $banner-text;
            img.profile-picture {
                border: (3rem/16) solid $banner-text;
                height: 6rem;
                width: 6rem;
                display: block;
                margin: 0 auto 1rem;
                border-radius: 50%;
            }
            p {
                font-size: 1.2rem;
                font-weight: 600;
                max-width: 40rem;
                margin: 0 auto 1rem;
            }
            ul li {
                border: none;
                a {
                    color: $banner-text;
                }
                a:hover, a:focus, a:active {
                    color: darken($banner-text, 20%);
                }
            }
            button {
                margin: 1rem .5rem 0;
                height: 2rem;
                width: 6rem;
                text-shadow: $text-shadow;
                box-shadow: $shadow;
            }
        }
    }
}

#about-me {
    background: $about-me-bg;
    color: $main-text;
    display: grid;
    align-content: center;
    .content {
        > div {
            margin: 0 auto 4rem;
        }
        .description {
            background: $about-me-tile-bg;
            max-width: 50rem;
            padding: 1rem;
            text-align: center;
            box-shadow: $shadow;
        }
        .skills-lists {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            max-width: 73rem;
            ul {
                margin: 0.5rem 0;
                flex: 1 0 10rem;
                li:first-child {
                    font-family: inherit;
                    font-weight: 600;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    list-style-type: none;
                    padding-bottom: .25rem;
                }
                li {
                    font-family: monospace;
                    font-size: 1.2rem;
                    list-style-type: none;
                    text-align: center;
                }
            }
        }
        .education {
            display: flex;
            flex-flow: column nowrap;
            max-width: 70rem;
            .education-entry {
                margin-bottom: 1rem;
                display: flex;
                flex-flow: row nowrap;
                > * {
                    min-height: 10rem;
                }
                :first-child {
                    padding: 1rem;
                    font-weight: 600;
                    height: 100%;
                    order: 1;
                    flex: 0 0 30%;
                }
                :last-child {
                    padding: 1rem;
                    height: 100%;
                    order: 2;
                    flex: 0 0 70%;
                    background: $about-me-tile-bg;
                    box-shadow: $shadow;
                }
                @media (max-width: 37rem) {
                    flex-flow: column nowrap;
                    > * {
                        min-height: 0;
                    }
                    :first-child {
                        flex: 0 0;
                    }
                    :last-child {
                        flex: 0 0;
                    }
                }
            }
        }
    }
}

#projects {
    background: $projects-bg;
    color: $main-text;
    display: grid;
    align-content: center;
    .content {
        .flex-container {
            padding-top: 3rem;
            width: 100%;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            .project-observer {
                padding-bottom: 6rem;
                @include fade-in-observe-left;
                .hover-observer {
                    @include hover-grow;
                    .project {
                        min-height: 35rem;
                        flex: 1 1 30rem;
                        width: 100%;
                        max-width: 73rem;
                        position: relative;
                        display: flex;
                        flex-flow: row nowrap;
                        align-content: center;
                        .proj-img {
                            background-size: cover;
                            background-position: center;
                            flex: 1 0 65%;
                            order: 1;
                            min-height: 20rem;
                        }
                        .proj-desc {
                            flex: 0 0 35%;
                            background: $projects-tile-bg;
                            padding: 1rem;
                            order: 2;
                            display: flex;
                            flex-flow: column nowrap;
                            align-content: center;
                            justify-content: center;
                            p {
                                text-align: left;
                                margin-bottom: 1rem;
                            }
                            input, button {
                                width: 100%;
                                height: 2rem;
                                margin-bottom: 1rem;
                            }
                        }
                        @media (max-width: 45rem) {
                            flex-flow: column nowrap;
                            justify-content: center;
                            .proj-img {
                                flex: 1 0 65%;
                            }
                            .proj-desc {
                                flex: 0 0 35%;
                            }
                        }
                    }
                }
            }
            .project-observer.proj-move {
                @include fade-in-observe-move;
            }
            .project-observer:nth-child(2n) {
                .proj-img {
                    order: 2 !important;
                }
                .proj-desc {
                    order: 1 !important;
                }
                @media (max-width: 45rem) {
                    .proj-img {
                        order: 1 !important;
                    }
                    .proj-desc {
                        order: 2 !important;
                    }
                }
            }
        }
    }
}

#contact .background {background-image: $bg-bot}
#contact {
    height: 100vh;
    min-height: (20rem);
    .content {
        height: 100%;
        display: grid;
        form.gform {
            width: 100%;
            max-width: 34rem;
            height: 100%;
            max-height: 34rem;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 3rem 2rem 1fr 2rem;
            grid-gap: .5rem;
            padding: 1rem;
            margin: auto;
            input, textarea {
                box-shadow: $shadow;
            }
            div {
                position: relative;
                grid-column: 1 / span 2;
                margin: 0;
                box-shadow: none;
                text-align: center;
                text-shadow: $text-shadow;
                .form-title, .thankyou_message {
                    position: absolute;
                    position: absolute;
                    top:0;bottom:0;left:0;right:0;
                    line-height: 1;
                    font-weight: 600;
                    color: $h1-text;
                    text-shadow: $text-shadow;
                    transition: opacity 500ms ease-in-out;
                }
                .form-title {
                    margin: 0;
                }
                .thankyou_message {
                    font-size: 1.5rem;
                    opacity: 0;
                    @media (max-width: 400) {
                        font-size: 1rem;
                    }
                }
            }
            .msg-title {
                display: none;
            }
            .form-text-field {
                @include text-field($form-box-bg);
            }
            input.form-text-field {
                width: 100%;
            }
            textarea.form-text-field {
                grid-column: 1 / span 2;
                width: 100%;
                resize: none;
            }
            .form-text-field:focus, .filled {
                opacity: 1;
            }
            input[type=submit]:focus, input[type=reset]:focus {
                border-color: orange;
            }
        }
    }
}

#footer {
    background: $footer-bg;
    color: $footer-text;
    font-size: 1.5rem;
    height: 25.5vh;
    min-height: 10rem;
    .content {
        height: 100%;
        display: grid;
        align-content: center;
        justify-content: center;
        p {
            font-size: .7em;
            text-align: center;
        }
        li {
            border-color: $footer-text;
        }
        div {
            width: fit-content;
            margin: auto;
        }
    }
}