$color1: #0a6487; //blue
$color2: #13a3c8; //light blue
$color3: #374c4F; //slate blue
$color4: #b8beba; //light slate blue
$color5: #cf8b59; //orange
$color6: #f4c3a3; //light orange
$color-text: #231e1b; //dark brown

$brown: #371b0d;

*, *:before, *:after {
    box-sizing: border-box;
    padding: 0;
    font-family: inherit;
}

@mixin main-button($color) {
    border: .1rem solid $color;
    background-color: $color;
    border-radius: .5rem;
    color: $color-text;
    font-weight: 600;
    color: white;
    -webkit-transition: background-color 250ms ease-in-out, border-color 250ms ease-in-out;
    transition: background-color 250ms ease-in-out, border-color 250ms ease-in-out;
}

@mixin alt-button($color) {
    @include main-button($color);
    background-color: transparent;
}

@mixin darken-main-hvr($color) {
    background-color: darken($color, 10%);
    border-color: darken($color, 10%);
    cursor: pointer;
}

@mixin darken-alt-hvr($color) {
    background-color: rgba(0,0,0,.3);
    border-color: darken($color, 10%);
    cursor: pointer;
}

@mixin text-field($color) {
    border: none;
    background-color: $color;
    opacity: .5;
    border-radius: .5rem;
    padding: .5rem;
    font-size: .8rem;
    line-height: 1.5;
    font-weight: 300;
    -webkit-transition: opacity 250ms ease-in-out;
    transition: opacity 250ms ease-in-out;
}

@mixin parallax-bg($bg) {
    background-image: url($bg);
    background-attachment: scroll;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    transition: background-position 0s linear;
}

*:focus {
    outline: none !important;
}

html {
    height: 100%;
    width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1rem;
    color: $color-text;
    scroll-behavior: smooth;
}

a, a:visited {
    color: $color2;
    text-decoration: none;
    transition: 150ms color linear;
}

a:hover, a:active, a:focus {
    color: $color1;
}

.button-main-1 {
    @include main-button($color1);
}
.button-main-1:hover {
    @include darken-main-hvr($color1);
}

.button-alt-1 {
    @include alt-button($color1);
}
.button-alt-1:hover {
    @include darken-alt-hvr($color1);
}

.button-main-2 {
    @include main-button($color3);
}
.button-main-2:hover {
    @include darken-main-hvr($color3);
}

.button-alt-2 {
    @include alt-button($color3)
}
.button-alt-2:hover {
    @include darken-alt-hvr($color3);
}

.global-nav {
    position: fixed;
    top: 0px;
    z-index: 2;
    width: 100%;
    ul {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        padding: .4rem .5rem .6rem;
        margin: 0 auto;
        width: fit-content;
        background: rgba(0,0,0,.5);
        border-radius: 0 0 10px 10px;
        box-shadow: 0 0 3px rgba(0,0,0,.5);
        li {
            display: inline-block;
            height: 100%;
            padding: 0 .7rem;
            border-left: 1px solid white;
            a {
                color: white;
                font-weight: 600;
            }
            a:hover, a:focus {
                color: $color4;
            }
        }
        li:last-child {
            border-right: 1px solid white;
        }
    }
}

.global-nav.fixed {
    transform: translate(0,-3.5rem);
    transition: transform 500ms ease-in-out;
}

ul.media-links {
    display: flex;
    align-items: center;
    justify-content: center;
    li {
        display: inline-block;
        text-decoration: none;
        height: 1rem;
        padding: 0 .5rem;
        border-left: 1px solid $color4;
        a {
            font-size: 2rem;
            display: inline-block;
            margin: -.5rem 0;
            color: $color4;
        }
        a:hover {
            color: $color3;
        }
    }
    li:last-child {
        border-right: 1px solid $color4;
    }
}

#banner {
    position: relative;
    @include parallax-bg("../img/matteo-catanese-424968-unsplash-top-blur.jpg");
    height: 100vh;
    min-height: 500px;
    display: grid;
    align-content: center;
    .global-nav {
        position: absolute;
        ul {
            background: none;
            box-shadow: none;
        }
    }
    div {
        text-align: center;
        text-shadow: 0 0 5px #000;
        color: white;
        img {
            border: 1px solid white;
            border-radius: 50%;
            height: 3rem;
            width: 3rem;
        }
        h1 {
            font-size: 3.5rem;
        }
        ul li {
            border: none;
            a {
                color: white;
            }
            a:hover, a:focus, a:active {
                color: $color4;
            }
        }
    }
}

#about-me, #projects, #footer {
    text-align: justify;
    padding: 1rem;
    display: grid;
}

#about-me {
    background: $color6;

}

#projects {
    background: $color4;
    .flex-container {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: flex-start;
        .flex-child {
            margin: 0 .25rem 1rem;
            flex: 1 1 25rem;
            max-width: 32rem;
        }
        .proj-img {
            background-image: linear-gradient(to bottom, $color1, $color2);
            border-radius: .25rem .25rem 0 0;
            height: 20rem;
        }
        .proj-desc {
            background: white;
            padding: .5rem;
            border-radius: 0 0 .25rem .25rem;
        }
    }
}

#contact {
    height: 100vh;
    min-height: (27rem);
    @include parallax-bg("../img/matteo-catanese-424968-unsplash-bottom-blur.jpg");
    display: flex;
    flex-flow: column;
    transition: transform 1s ease-in-out;
    h1 {
        color: white;
        size: 3rem;
        text-shadow: 0 0 .05rem #000;
        text-align: center;
    }
    form.gform {
        width: 100%;
        max-width: 34rem;
        height: 100%;
        max-height: 34rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2rem 2rem 1fr 2rem 4rem;
        grid-gap: .5rem;
        padding: 1rem;
        margin: auto;
        input, textarea {
            box-shadow: 0 0 5px #000;
        }
        h1 {
            grid-column: 1 / span 2;
            margin: 0;
            box-shadow: none;
            text-align: center;
            text-shadow: 0 0 5px #000;
        }
        .msg-title {
            display: none;
        }
        .form-text-field {
            @include text-field($color4);
        }
        input.form-text-field {
            width: 100%;
        }
        textarea.form-text-field {
            grid-column: 1 / span 2;
            width: 100%;
        }
        .form-text-field:focus, .filled {
            opacity: 1;
        }
        input[type=submit]:focus, input[type=reset]:focus {
            border-color: orange;
        }
        .thankyou_message {
            opacity: 0;
            transition: opacity 500ms ease-in-out;
        }
    }
}

#footer {
    background: $color-text;
    color: $color4;
    p {
        font-size: .7rem;
        text-align: center;
    }
    li {
        border-color: $color4;
    }
    div {
        width: fit-content;
        margin: auto;
    }
}